In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests

In [203]:
driver = webdriver.Chrome(executable_path = r'C:\Users\Sumit\Downloads\chromedriver_win32\chromedriver.exe')
driver.get('https://paytm.com/recharge')

C:\Users\Sumit\AppData\Local\Temp\ipykernel_624\2029195824.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = r'C:\Users\Sumit\Downloads\chromedriver_win32\chromedriver.exe')

In [7]:
operator = driver.find_element('partial link text' , 'Airtel')

In [8]:
operator.click()

In [10]:
driver.find_element('partial link text' , 'Delhi NCR').click()

In [15]:
response = requests.get(driver.current_url)

In [16]:
data = BeautifulSoup(response.text,'html.parser')

In [19]:
# print(data.prettify())

In [91]:
price = data.find_all(class_ = '_1aEZ')
price[0]

<div class="_1aEZ"><div class="zUDk">Delhi NCR</div><div class="zUDk">Recharge</div><div class="zUDk">NA</div><div class="zUDk">28 Days</div><div class="zUDk _3WAG">Enjoy Unlimited Local STD &amp; Roaming calls Local STD &amp; Roaming calls on any network 2GB Data and 300 SMS. Pack valid for 28 days.</div><div class="zUDk _17KN"><button class="_11kC LLvJ _3vjB">Rs. 179</button></div></div>

In [92]:
for i in price:
    for j in i.find_all(class_='_11kC LLvJ _3vjB'):
        print(j.text)

Rs. 179
Rs. 239
Rs. 58
Rs. 155
Rs. 299
Rs. 479
Rs. 265
Rs. 509

In [191]:
driver.back()

In [204]:
driver.get('https://paytm.com/')

In [205]:
driver.find_elements('class name' , '_2EGQY')[10].click()

In [206]:
from_ = driver.find_element('id',"text-box")

In [207]:
from_.send_keys('Delhi - All Stations')

In [208]:
driver.find_element('xpath' , '//div[@class="_16Y_"]').click()

In [197]:
from_.clear()

In [209]:
to_ = driver.find_elements('id' , 'text-box')[1]

In [210]:
to_.send_keys('ASR - Amritsar Jn')

In [217]:
driver.find_element('xpath' , '//div[@class="_16Y_"]').click()

In [154]:
to_.clear()

In [218]:
date_ = driver.find_element('xpath' , '//div[@data-reactid="185"]')

In [219]:
date_.click()

In [220]:
driver.find_element('partial link text' , 'Search').click()

In [245]:
info_ = driver.find_element('class name' , "_1BjQ").text

In [243]:
info_.split("\n")[0:3]

['12497', 'Shane Punjab', '06:40']

In [277]:
info__ = driver.find_elements('xpath' , '//div[@class = "_1BjQ"]')
for i in info__ :
    inf_ = i.text
    print(inf_.split("\n")[0:3])
    print('----')

['12497', 'Shane Punjab', '06:40']
----
['12459', 'New Delhi Amritsar Express', '13:50']
----
['12483', 'Kcvl Asr Exp', '06:25']
----
['12925', 'Paschim Express', '11:05']
----
['12203', 'Garib Rath Exp', '14:05']
----
['11057', 'Csmt Amritsar Express', '03:55']
----
['12715', 'Sachkhand Exp', '13:20']
----
['12013', 'Asr Shtbdi Exp', '16:30']
----
['12029', 'Asr Shtbdi Exp', '07:20']
----
['15707', 'Kir Asr Special', '02:28']
----
['22429', 'Dli Ptk Exp', '08:15']
----
['18309', 'Sbp Jat Express', '21:25']
----
['18237', 'Chattisgarh Exp', '20:00']
----
['12903', 'Golden Temple', '14:05']
----

In [280]:
num_ = []
name_ = []
start_time = []
info__ = driver.find_elements('xpath' , '//div[@class = "_1BjQ"]')
for i in info__ :
    inf_ = i.text
    inf1 = inf_.split("\n")[0:3]
    num_.append(inf1[0])
    name_.append(inf1[1])
    start_time.append(inf1[2])

In [282]:
import numpy as np
pd.DataFrame({'Train Number' : num_ ,'Train Name' : name_ , 'Starting Time' : start_time} , index = np.arange(14))

   Train Number                  Train Name Starting Time
0         12497                Shane Punjab         06:40
1         12459  New Delhi Amritsar Express         13:50
2         12483                Kcvl Asr Exp         06:25
3         12925             Paschim Express         11:05
4         12203              Garib Rath Exp         14:05
5         11057       Csmt Amritsar Express         03:55
6         12715               Sachkhand Exp         13:20
7         12013              Asr Shtbdi Exp         16:30
8         12029              Asr Shtbdi Exp         07:20
9         15707             Kir Asr Special         02:28
10        22429                 Dli Ptk Exp         08:15
11        18309             Sbp Jat Express         21:25
12        18237             Chattisgarh Exp         20:00
13        12903               Golden Temple         14:05